# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET=your-gcp-project-id-nyc-tlc-data-lake

# BigQuery
BQ_RAW_DATASET=nyc_tlc_raw
BQ_PROD_DATASET=nyc_tlc_prod

# NYC TLC download range
TLC_TAXI_TYPE=yellow
TLC_START_MONTH=2023-01
TLC_END_MONTH=2023-12

# Google credentials JSON path
GOOGLE_APPLICATION_CREDENTIALS=./keys/gcp-service-account.json
