# GCP
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET=your-gcp-project-id-ecom-data-lake

# BigQuery
BQ_RAW_DATASET=ecommerce_raw
BQ_PROD_DATASET=ecommerce_prod

# Kaggle (https://www.kaggle.com/settings -> API -> Create New Token)
KAGGLE_USERNAME=your-kaggle-username
KAGGLE_KEY=your-kaggle-api-key

# Google credentials JSON path
GOOGLE_APPLICATION_CREDENTIALS=./keys/gcp-service-account.json

# Set to true to download additional months (Dec 2019 – Apr 2020) from REES46
DOWNLOAD_EXTRA_MONTHS=false
